*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Segoe UI',sans-serif;
}

body{

background:#f6f0ff;

color:#333;

}

nav{

display:flex;

justify-content:space-between;

align-items:center;

padding:20px 80px;

background:#c8a2ff;

position:sticky;

top:0;

}

.logo{

font-size:28px;

font-weight:bold;

color:white;

}

nav ul{

display:flex;

list-style:none;

}

nav ul li{

margin-left:30px;

}

nav ul li a{

text-decoration:none;

color:white;

font-weight:bold;

transition:.3s;

}

nav ul li a:hover{

color:yellow;

}

.hero{

height:90vh;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

text-align:center;

}

.hero h1{

font-size:60px;

margin-bottom:20px;

color:#7d4bc6;

}

.hero p{

font-size:22px;

margin-bottom:30px;

}

.btn{

padding:15px 35px;

background:#b388eb;

color:white;

text-decoration:none;

border-radius:50px;

transition:.3s;

}

.btn:hover{

background:#7d4bc6;

}
